# 文件以及目录过滤
# 过滤library目录
AssetBundleFramework/Library/
# 过滤.vs目录
AssetBundleFramework/.vs/
# 过滤Temp目录
AssetBundleFramework/Temp/
# 过滤obj目录
AssetBundleFramework/obj/
# 过滤Log目录
AssetBundleFramework/Logs/